* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    line-height: 1.3rem;
    color: #000;
    background-color: #FBFBFB;
}

a {
    color: #005C9C;
}

.main-content p {
    margin: 1.5rem 0;
}

.main-content strong {
    font-weight: normal;
    border-bottom: 2px solid indianred;
}

.main-content ul {
    margin: 0;
    padding-left: 1rem;
}

.main-content ul li {
    line-height: 1.5rem;
    margin: 0.5rem 0;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
}

h2 {
    margin: 1rem 0;
    font-size: 1rem;
}

h2 span {
    font-size: 0.8rem;
    color: #bbb;
    font-weight: normal;
}

a.nav {
    margin: 2rem 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

a.nav:hover {
    text-decoration: underline;
}

.date {
    color: #bbb;
    font-weight: bold;
    font-size: 12px;;
    display: inline-block;
    margin-right: 10px;
}

.post img {
    width: 100%;
}

.post {
    line-height: 1.7rem;
}

.post h2 {
    margin: 3rem 0 0 0;
}

.post .title {
    margin: 3rem 0;
}

.post .title h1 {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 42em) {
    .main-content {
        max-width: 48rem;
        padding: 4rem 6rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        max-width: 42rem;
        padding: 2rem 1rem;
    }
}
